.Home__main-block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 24px;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: flex-start;
}

.Home__quotes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
